extends ../../base/views/layout

block content
  div(class="row")
    div(class="col-md-12")
        form(class="form" method="POST" action="/user/login")
          div(class="form-group")
            label(for="email" class="control-label") Email
            input(type="text" name="email" id="email" class="form-control" placeholder="Email" required autofocus)
          div(class="form-group")
            label(for="password" class="control-label") Password
            input(type="password" name="password" id="password" class="form-control" placeholder="Password" required)
          div(class="form-group")
            label(class="control-label")
            input(class="form-control" type="submit" value="Login")
          div.text-center
            a(href="/user/register")
              small Go to register page
