div(id="raceStepContent" class="collapse show" aria-labelledby="raceStepHeader" data-parent="#accordion")
  div(class="card-body")
    div(class="form-group")
      label(for="raceSelector")
      select(id="raceSelector" class="form-control")
        option(value="witcher") Brujo
        option(value="elf") Elfo
        option(value="dwarf") Enano
        option(value="human") Humano
